table {
margin:10px;
    border-collapse: collapse;
    width: 300px;
}
thead {
    text-align:left;
    display: table;
    float: left;
    width: 100%;
}
thead tr {
    display: table-row;
    width: 100%;
}
tbody {
    display: block;
    height: 300px;
    overflow: auto;
    float: left;
    width: 100%;
}
tbody tr {
    display: table;
    width: 100%;
}
tbody tr {
    height: 41px;
}
th{
    width: 25px;
}
body{
margin-left:auto;
margin-right:auto;
width:320px;
height:350px;
}
tr:after{   /* IE8 fix */
    content: ".";
    margin-left: -3px; /* to hide the content above tr */ /* not necessary if you are ok with 1px gap */
    visibility: hidden;
}

.mediaData{
width:275px;
}

.mediaType{
width:20px;
}
.removeButton{
margin:10px;
}

.typeAudio{
	background-image: url(audio.png);
	width:16px;
	height:16px;
}

.typeBlank{
	width:16px;
	height:16px;
}

.typeAudio:hover{
	background-image: url(delete.png);
	width:16px;
	height:16px;
}

.typeImage{
	background-image: url(image.png);
	width:16px;
	height:16px;
}

.typeImage:hover{
	background-image: url(delete.png);
	width:16px;
	height:16px;
}